{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":0,"column":6},"end":{"row":1,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":1,"column":0},"end":{"row":1,"column":21},"action":"insert","lines":[".~c9_invoke_eQuhFo.py"],"id":3}],[{"start":{"row":1,"column":21},"end":{"row":2,"column":0},"action":"insert","lines":["",""],"id":4}],[{"start":{"row":2,"column":0},"end":{"row":2,"column":21},"action":"insert","lines":[".~c9_invoke_emFRyM.py"],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":21},"end":{"row":2,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1603820089972,"hash":"11bee0182648be4f8c45b1c3f65f55bf269b011c"}