.row {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.header {
    width: 60%;
    margin: auto;
}

.logo {
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    float: right;
    background-color: #20d8da;
}

.social-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    padding: 5px;
}

.navigation-area {
    margin: 0;
}

.carousel-item {
    position: relative !important;
}

.black-overlay {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.about-slides {
    height: auto;
}

.about {
    margin-top: 300px;
    margin-left: 200px;
    border-left: solid 2px #20d8da;
    color: #fafafa;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .login-btn {
        display: none;
    }

    .login-area {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: auto;
    }

    .header {
        width: 100%;
        margin: auto;
    }

    .logo {
        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about-slides {
        height: auto;
    }

}

@media only screen and (min-width: 600px) {
    .login-btn-small {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .about-slides {
        height: 794px;
    }
}

@media only screen and (max-width: 1080px) {
    .about {
        display: none;
    }
}

.single-read-review-border {
    border-left: solid 1px;
}

.read-review {
    margin: 50px;
}

.read-review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #20d8da;
}

.read-review-img {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    .single-read-review {
        width: 400px;
        margin: auto;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .single-read-review-border {
        border: none;
    }
    
    
}




