{% extends 'base.html' %} {% block scripts %}
<script type="text/javascript" src="static/js/get-articles-news.js"></script>
{% endblock %} {% block content %}
<section>
    <div class="row container-fluid hero-image-area">
        <div class="col-12 hero-image">
            <img src="static/images/black-ops-bg.jpg" class="hero-image">
            <div class="black-overlay">
                <div>
                    <div class="articles-hero-heading">
                        Articles
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="row filter-search-area">
        <div class="col-6 filter-area">
            <select name="select-filter" class="filter">
                <option value="" class="filter-option" disabled selected>Filter By Genre</option>
                <option value="Action" class="filter-option">Action</option>
                <option value="Action-Adventure" class="filter-option">Action-Adventure</option>
                <option value="Adventure" class="filter-option">Adventure</option>
                <option value="Role-Playing" class="filter-option">Role-Playing</option>
                <option value="Simulation" class="filter-option">Simulation</option>
                <option value="Strategy" class="filter-option">Strategy</option>
                <option value="sports" class="filter-option">Sports</option>
            </select>
        </div>
        <div class="col-6 search-area">
            <form>
                <input type="search" name="article-search" id="article-search" class="search" placeholder="search"></input>
                <button type="submit" class="btn btn-success search-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="reviews-heading">Latest Articles</h3>
        </div>
    </div>
    <div class="row articles-area" id="articles">

    </div>
    <nav aria-label="Page Navigation">
        <ul class="pagination" id="paging"></ul>
    </nav>
</section>
{% endblock %}
