{% extends 'base.html' %}
{% block scripts %}
<!-- Script to load range.js and checkbox.js, used to process form data -->
<script src="{{url_for('static', filename='js/range.js')}}"></script>
<script src="{{url_for('static', filename='js/checkbox.js')}}"></script>
{% endblock %}
{% block content %}
<!-- Edit revews hero image area -->
<section>
    <div class="row container-fluid hero-image-area">
        <div class="col-12 hero-image">
            <img src="{{url_for('static', filename='images/black-ops-bg.jpg')}}" class="hero-image" alt="Hero Image">
            <div class="black-overlay">
                <div>
                    <div class="reviews-hero-heading">
                        Edit Review
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="write-a-review">
    <!-- edit reviews form, with values of review loaded -->
    <form method="post" action="{{ url_for('update_review', review_id=review._id) }}">
        <div class="row">
            <div class="col-md-6 review-form">
                <input class="form-control" type="text" name="username" value="{{ session['username']}}" required/>
                <input class="form-control" type="text" id="game-name" name="game-name" placeholder="Name Of Game" value="{{review.game_name}}" required/>
                <input class="form-control" type="text" id="dav-name" name="dev-name" placeholder="Name Of Developers" value="{{review.dev_name}}" required/>
                <input class="form-control" type="text" id="genre" name="genre" placeholder="Genre" value="{{review.genre}}" required/>
                <input class="form-control" type="text" id="image" name="image" placeholder="Image URL" value="{{review.image}}" required/>
                <!-- checkboxes that determine what platform the games are available on -->
                <h5>Available On:</h5>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" name="platform" id="all-platform" value="all-platforms" oninput="checkboxVal();" required>
                    <label class="form-check-label" for="all-platform">All Platforms</label>
                </div>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" name="platform" id="xbox" value="xbox" oninput="checkboxVal();" required>
                    <label class="form-check-label" for="xbox">Xbox</label>
                </div>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" name="platform" id="ps4" value="ps4" oninput="checkboxVal();" required>
                    <label class="form-check-label" for="ps4">PS4</label>
                </div>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" name="platform" id="pc" value="pc" oninput="checkboxVal();" required>
                    <label class="form-check-label" for="pc">P.C</label>
                </div>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" name="platform" id="wii-u" value="wii u" oninput="checkboxVal();">
                    <label class="form-check-label" for="wii-u">Wii U</label>
                </div>
            </div>
            <!-- range inputs that determine the value of gameplay, story, production-quality and price, the average of which gives us the total -->
            <div class="col-md-6 write-review-rating" id="test">
                <div class="form-group">
                    <label for="myRange-1"><strong>Rate Gameplay</strong></label> 
                    <input type="range" class="form-control-range" name="gameplay" min="1" max="100" value="{{review.gameplay}}" id="myRange-1" onchange="rangeVal(); getTotal();">
                    <p class="rating">Rating: <span id="range-1"></span></p>
                </div>
                <div class="form-group">
                    <label for="myRange-2"><strong>Rate Story</strong></label>
                    <input type="range" class="form-control-range" name="story" min="1" max="100" value="{{review.story}}" id="myRange-2" onchange="rangeVal1(); getTotal();">
                    <p class="rating">Rating: <span id="range-2"></span></p>
                </div>
                <div class="form-group">
                    <label for="myRange-3"><strong>Rate Production Quality</strong></label>
                    <input type="range" class="form-control-range" name="production-quality" min="1" max="100" value="{{review.production_quality}}" id="myRange-3" onchange="rangeVal2(); getTotal();">
                    <p class="rating">Rating: <span id="range-3"></span></p>
                </div>
                <div class="form-group">
                    <label for="myRange-4"><strong>Rate Price</strong></label>
                    <input type="range" class="form-control-range" name="price" min="1" max="100" value="{{review.price}}" id="myRange-4" onchange="rangeVal3(); getTotal();">
                    <p class="rating">Rating: <span id="range-4"></span></p>
                </div>
                <div class="form-group">
                    <label for="myRange-total"><strong>Total</strong></label>
                    <input type="range" class="form-control-range" name="total" min="1" max="100" value="{{review.total}}" id="myRange-total">
                    <p class="rating">Rating: <span id="range-5"></span></p>
                </div>
            </div>
        </div>
        <!-- text area where the user writes the body of the review -->
        <div class="row">
            <div class="col-12">
                <h5>Write Review</h5>
                <textarea name="body" placeholder="Write Review" class="form-control write-review-text" rows="5" required>{{review.body}}</textarea>
            </div>
        </div>
        <!-- submit btn -->
        <div class="row">
            <div class="col-12 container submit-btn-area">
                <button class="btn btn-success submit-btn" type="submit" >Submit Review</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
