{% extends 'base.html' %}
{% block content %}
<section class="hero-images">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner about-slides">
            <div class="carousel-item active">
                <img class="d-block w-100" src="static/images/Ghost-of-tsushima.jpg" alt="First slide">
                <div class="black-overlay">
                    <div class="about">
                        <h3>About Us</h3>
                        <p>GamerReviews is a website designed by gamers for gamers. Our main goal is to keep you up to date on upcoming and new releases and to allow you 
                           to read reviews on games by fellow gamers so you can make an informed descion before
                           puchasing new games</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="static/images/half-life.jpg" alt="Second slide">
                <div class="black-overlay">
                    <div class="about">
                        <h3>About Us</h3>
                        <p>GamerReviews is a website designed by gamers for gamers. Our main goal is to keep you up to date on upcoming and new releases and to allow you 
                           to read reviews on games by fellow gamers so you can make an informed descion before
                           puchasing new games</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="static/images/red-dead-redemption-2.jpg" alt="Third slide">
                <div class="black-overlay">
                    <div class="about">
                        <h3>About Us</h3>
                        <p>GamerReviews is a website designed by gamers for gamers. Our main goal is to keep you up to date on upcoming and new releases and to allow you 
                           to read reviews on games by fellow gamers so you can make an informed descion before
                           puchasing new games</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="static/images/resident-evil-3.jpeg" alt="Third slide">
                <div class="black-overlay">
                    <div class="about">
                        <h3>About Us</h3>
                        <p>GamerReviews is a website designed by gamers for gamers. Our main goal is to keep you up to date on upcoming and new releases and to allow you 
                           to read reviews on games by fellow gamers so you can make an informed descion before
                           puchasing new games</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="static/images/the-last-of-us.jpg" alt="Third slide">
                <div class="black-overlay">
                    <div class="about">
                        <h3>About Us</h3>
                        <p>GamerReviews is a website designed by gamers for gamers. Our main goal is to keep you up to date on upcoming and new releases and to allow you 
                           to read reviews on games by fellow gamers so you can make an informed descion before
                           puchasing new games</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="read-review">
    <div class="row">
        <div class="col-lg-3 single-read-review">
            <img src="static/images/ps4.jpg" class="read-review-img">
            <a><button class="read-review-btn btn btn-success">Read Reviews</button></a>
        </div>
        <div class="col-lg-3 single-read-review single-read-review-border">
            <img src="static/images/steam.jpg" class="read-review-img">
            <a><button class="read-review-btn btn btn-success">Read Reviews</button></a>
        </div>
        <div class="col-lg-3 single-read-review single-read-review-border">
            <img src="static/images/wii.jpg" class="read-review-img">
            <a><button class="read-review-btn btn btn-success">Read Reviews</button></a>
        </div>
        <div class="col-lg-3 single-read-review single-read-review-border">
            <img src="static/images/xbox.jpg" class="read-review-img">
            <a><button class="read-review-btn btn btn-success">Read Reviews</button></a>
        </div>
    </div>
</section>
<section class="monthly-picks">
    <div class="monthly-picks-area">
        <div class="row">
            <div class="col-12 months-pick-heading-area">
                <h3 class="this-months-picks-heading">This Months Picks</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 monthly-picks-btn-area">
                <a><button class="btn btn-success monthly-picks-btn">Popular</button></a>
                <a><button class="btn btn-success monthly-picks-btn">Latest</button></a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="opaque-background"></div>
                </div>
            </div>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/placeholder.png" class="monthly-pick-image">
                <div class="slide-text">
                    <a href="#" class="game-title">
                        <h4>Game Title</h4>
                    </a>
                    <div class="meta-data">
                        <a>User: 9.1/10</a>
                        <a>Genre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="articles">
    <div class="row">
        <div class="col-12">
            <h3 class="articles-heading">Latest Articles</h3>
        </div>
    </div>
    <div class="row article-area container">
        <div class="col-4">
            <img src="static/images/placeholder.png" class="article-img">
        </div>
        <div class="col-8">
            <a href="#">
                <h4 class="article-heading">Article Heading</h4>
            </a>
            <p class="article-heading">01/9/20</p>
            <div>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in
                </p>
            </div>
        </div>
    </div>
    <div class="row article-area container">
        <div class="col-4">
            <img src="static/images/placeholder.png" class="article-img">
        </div>
        <div class="col-8">
            <a href="#">
                <h4 class="article-heading">Article Heading</h4>
            </a>
            <p class="article-heading">01/9/20</p>
            <div>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in
                </p>
            </div>
        </div>
    </div>
    <div class="row article-area container">
        <div class="col-4">
            <img src="static/images/placeholder.png" class="article-img">
        </div>
        <div class="col-8">
            <a href="#">
                <h4 class="article-heading">Article Heading</h4>
            </a>
            <p class="article-heading">01/9/20</p>
            <div>
                <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}