{% extends 'base.html' %} {% block content %}
<!-- reviews.html hero image area -->
<section>
    <div class="row container-fluid hero-image-area">
        <div class="col-12 hero-image">
            <img src="static/images/black-ops-bg.jpg" class="hero-image">
            <div class="black-overlay">
                <div>
                    <div class="reviews-hero-heading">
                        Reviews
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section that displays reviews -->
<section class="reviews">
    <form action="{{ url_for('search') }}" method="POST">
        <h3 class="error-message">{{ error_message }}</h3>
        <div class="row">
            <div class="col-12 search-area">
                <form>
                    <input type="search" name="search" id="review-search" class="search" placeholder="search"></input>
                    <a href="{{url_for('search', reviews=reviews)}}"><button type="submit" class="btn btn-success search-btn"><i class="fa fa-search"></i></button></a>
                </form>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <h3 class="reviews-heading">Latest Reviews</h3>
        </div>
    </div>
    <!-- jinja for loop that displays reviews -->
    {% for reviews in reviews %}
    <div class="row review-area container">
        <div class="col-md-4">
            <img src="{{reviews.image}}" class="review-img">
        </div>
        <div class="col-md-8">
            <h4 class="review-heading">{{reviews.game_name}}</h4>
            <p class="review-heading"><strong>{{reviews.genre}}</strong></p>
            <div>
                <p class="review-content">{{reviews.body}}</p>
                <!-- progress bar that displays total score -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{reviews.total}}%">
                        <span class="sr-only"> 90% complete</span>
                    </div>
                    <span class="progress-type">Total: {{reviews.total}}/100</span>
                </div>
                <!-- button that triggers review modal -->
                <button class="btn-success btn read-article-btn" data-toggle="modal" data-target="#modal{{reviews._id}}">Read Review</button>
            </div>
        </div>
        <!-- review modal -->
        <div class="modal fade" id="modal{{reviews._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header row">
                        <div class="col-12">
                            <h3 class="modal-title" id="exampleModalLabel"><strong>{{reviews.game_name}}</strong></h3>
                        </div>
                    </div>
                    <div class="row">
                        <!-- review image area -->
                        <div class="col-sm-6">
                            <img src="{{reviews.image}}" class="review-img">
                        </div>
                        <!-- progress bars that display all different scores -->
                        <div class="col-sm-6">
                            <p class="rating-heading"><strong>Gamplay:</strong></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{reviews.gameplay}}%">
                                    <span class="sr-only"> 90% complete</span>
                                </div>
                                <span class="progress-type">Gameplay: {{reviews.gameplay}}/100</span>
                            </div>
                            <p class="rating-heading"><strong>Story:</strong></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{reviews.story}}%">
                                    <span class="sr-only"> 90% complete</span>
                                </div>
                                <span class="progress-type">Story: {{reviews.story}}/100</span>
                            </div>
                            <p class="rating-heading"><strong>Production Quality:</strong></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{reviews.production_quality}}%">
                                    <span class="sr-only"> 90% complete</span>
                                </div>
                                <span class="progress-type">Production Quality: {{reviews.production_quality}}/100</span>
                            </div>
                            <p class="rating-heading"><strong>Price:</strong></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{reviews.price}}%">
                                    <span class="sr-only"> 90% complete</span>
                                </div>
                                <span class="progress-type">Price: {{reviews.price}}/100</span>
                            </div>
                            <p class="rating-heading"><strong>Total:</strong></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{reviews.total}}%">
                                    <span class="sr-only"> 90% complete</span>
                                </div>
                                <span class="progress-type">Total: {{reviews.total}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- section that contains main review data -->
                    <div class="modal-body">
                        <p><strong>Developer:</strong> {{reviews.dev_name}}</p>
                        <p><strong>Genre: </strong>{{reviews.genre}}</p>
                        <p><strong>Platform:</strong> {{reviews.platform}}</p>
                        <p>{{reviews.body}}</p>
                        <p><strong>Author: </strong>{{reviews.name}}</p>
                    </div>
                    <div class="modal-footer row container">
                        <div class="col-6 modal-btns-area">
                            <!-- button that takes user to gamestop to buy game -->
                            <a href="https://www.gamestop.ie/Home/Index" target="_blank"><button type="button" class="btn btn-success modal-btns">Buy</button></a>
                            <!-- button that takes user to twitch to watch game -->
                            <a href="https://www.twitch.tv/" target="_blank"><button type="button" class="btn btn-success modal-btns">Watch on  <i class="fa fa-twitch"></i></button></a>
                        </div>
                        <div class="col-6 close-modal-btn-area container">
                            <!-- button that closes modal -->
                            <button type="button" class="btn btn-success close-modal-btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {{ pagination.links }}
</section>
{% endblock %}
