{% extends 'base.html' %}
{% block content %}
<section>
    <div class="row container-fluid hero-image-area">
        <div class="col-12 hero-image">
            <img src="static/images/black-ops-bg.jpg" class="hero-image">
            <div class="black-overlay">
                <div>
                    <div class="reviews-hero-heading">
                        Review
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="single-review-area container">
    <div class="row single-review-img-area">
        <div class="col-12">
            <img src="{{reviews.image}}" class="single-review-img">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2 class="single-review-heading">Review Heading</h2>
            <h4 class="genre-review">Genre</h4><h5 class="date-review">12/08/20</h5>
            <p class="single-review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id neque aliquam vestibulum morbi blandit 
                cursus risus. Lobortis mattis aliquam faucibus purus in massa tempor nec. Metus vulputate eu scelerisque felis. Nunc sed velit dignissim sodales ut eu sem. Orci eu 
                lobortis elementum nibh tellus molestie nunc non blandit. Purus semper eget duis at tellus at. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Enim facilisis 
                gravida neque convallis a. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Id leo in vitae turpis massa sed elementum. Nunc pulvinar sapien et 
                ligula ullamcorper malesuada proin. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Felis donec et odio pellentesque diam volutpat.
                Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Accumsan tortor posuere ac ut consequat semper viverra nam libero
            </p>
            <button class="btn btn-success buy-game-btn">Buy Game</button>
            <button class="btn btn-success twitch-btn">Watch on twitch<i class="fa fa-twitch"></i></button>
            <h6 class="author">Written By<br>Author</h6>
        </div>
        <div class="col-lg-4 bar-ratings">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    <span class="sr-only"> 90% complete</span>
                </div>
                <span class="progress-type">Gameplay</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    <span class="sr-only"> 90% complete</span>
                </div>
                <span class="progress-type">Story</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                    <span class="sr-only"> 90% complete</span>
                </div>
                <span class="progress-type">Production Quality</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    <span class="sr-only"> 90% complete</span>
                </div>
                <span class="progress-type">Price</span>
            </div>
            <div class="rating-border"></div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    <span class="sr-only"> 90% complete</span>
                </div>
                <span class="progress-type">Total</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}