{% extends 'base.html' %}
{% block content %}
<section>
    <div class="row container-fluid hero-image-area">
        <div class="col-12 hero-image">
            <img src="static/images/black-ops-bg.jpg" class="hero-image">
            <div class="black-overlay">
                <div>
                    <div class="articles-hero-heading">
                        Article
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="single-article-area container-fluid">
    <img src="static/images/placeholder.png" class="single-article-img" >
    <div class="row">
        <div class="col-12">
            <h2 class="single-article-heading">Game Name</h2>
        </div>
        <div class="col-12">
            <h4 class="genre">Genre</h4><h5 class="date">12/08/20</h5>
        </div>
        <div class="single-article-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id neque aliquam vestibulum morbi blandit 
                cursus risus. Lobortis mattis aliquam faucibus purus in massa tempor nec. Metus vulputate eu scelerisque felis. Nunc sed velit dignissim sodales ut eu sem. Orci eu 
                lobortis elementum nibh tellus molestie nunc non blandit. Purus semper eget duis at tellus at. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Enim facilisis 
                gravida neque convallis a. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Id leo in vitae turpis massa sed elementum. Nunc pulvinar sapien et 
                ligula ullamcorper malesuada proin. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Felis donec et odio pellentesque diam volutpat.
                Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Enim lobortis scelerisque 
                fermentum dui faucibus in ornare. Tortor at risus viverra adipiscing at in tellus integer feugiat. Ut morbi tincidunt augue interdum. Tristique risus nec feugiat 
                in fermentum. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Adipiscing enim eu turpis egestas pretium. Nunc sed id semper risus. Arcu cursus
                vitae congue mauris rhoncus. Convallis aenean et tortor at risus viverra adipiscing at in. Vel orci porta non pulvinar. Vitae sapien pellentesque habitant morbi tristique 
                senectus et. Facilisi nullam vehicula ipsum a arcu cursus vitae. Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue. Natoque penatibus et magnis dis 
                parturient montes nascetur. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Gravida quis blandit turpis cursus in hac. Lorem ipsum dolor sit
                amet consectetur adipiscing elit duis tristique.
            </p>
        </div>
    </div>
</section>
{% endblock %}